main {
  padding: 20px 30px 0 100px;
  .dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    h1 {
      margin: 0;
    }
    .dashboard-filter {
      position: relative;
      .filter-toggle {
        cursor: pointer;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 2px 3px #00000029;
        border-radius: 2px;
        padding: 14px 18px;
        span {
          margin-right: 22px;
          img {
            max-height: 22px;
            margin-right: 12px;
            vertical-align: bottom;
          }
        }
        svg {
          vertical-align: middle;
        }
      }
      .filter-content {
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 10rem;
        padding: 0.5rem 0;
        margin: 0.125rem 0 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 0.25rem;
        &.show {
          display: block;
        }
        .apply-button {
          background: #37B04C;
          border: 0;
          border-radius: 2px;
          color: #fff;
          position: absolute;
          left: 20px;
          bottom: 20px;
          width: 20%;
          font-size: 14px;
          height: 40px;
        }
      }
    }
  }
  
  .panel-header {
    height: 48px;
    line-height: 48px;
    background: #37B04C;
    border-radius: 2px;
    margin-bottom: 30px;
    h1 {
      font-size: 20px;
      margin: 0;
      padding: 0 16px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      span {
        float: right;
        img {
          max-height: 20px;
        }
        small {
          font-size: 14px;
          font-weight: 400;
          text-decoration: underline;
          text-transform: none;
          vertical-align: 5px;
          margin-left: 5px;
          margin-right: 10px;
        }
      }
    }
  }
  .panel-content {
    .panel-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h3 {
        margin: 0;
      }
    }
    .panel-summary {
      display: flex;
      margin-top: 15px;
      h2 {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 32px;
      }
      p {
        margin: 5px 0 0;
      }
      img {
        max-height: 60px;
        margin-left: 20px;
      }
    }
    .card-info {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
    }
    .content-summary {
      display: inline-block;
      width: 350px;
    }
    .content-cart {
      width: 45%;
      .panel-title {
        margin-bottom: 25px;
      }
    }
    .content-products {
      width: 22%;
    }
  }
}